[ req ]
distinguished_name = req_distinguished_name
req_extensions  = v3_req
x509_extensions = usr_cert

[ req_distinguished_name ]

[ usr_cert ]
keyUsage = ${keyUsage}

[ v3_req ]
keyUsage = ${keyUsage}
