openssl_conf = openssl_def

[ openssl_def ]
engines = engine_section

[ engine_section ]
pkcs11 = pkcs11_section
rtengine = gost_section

[ pkcs11_section ]
engine_id = pkcs11
dynamic_path = ${PKCS11_ENGINE}
MODULE_PATH = ${LIBRTPKCS11ECP}
default_algorithms = ALL

[ gost_section ]
engine_id = rtengine
dynamic_path = ${RTENGINE}
pkcs11_path = ${LIBRTPKCS11ECP}
default_algorithms = ALL
